<!DOCTYPE html>
<html lang="pt-br">

<head>
  {{> head}}
  <link rel="stylesheet" href="css/app.css">
</head>

<body>

  <header>
    {{> app/header}}
  </header>
  <div class="app-wrapper">

    <aside>
      {{> app/sidebar}}
    </aside>

    <div class="content">
      {{{body}}}
    </div>

  </div>
  {{> footer}}

  <script src="libs/fa.js" crossorigin="anonymous"></script>
</body>

</html>