body {
    background: #ecf0f1;
    position: relative;
}

header {
    background-color: #227093;
    color: #ecf0f1;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    z-index: 2;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo {
    width: 250px;
}

header .logo a {
    color: white;
}

header .header-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}

header .header-items .header-item.right-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  
}

header .header-items .header-item.right-menu img.avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.app-wrapper {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  z-index: 1;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
}

aside {
    height: 100%;
    width: 180px;
    background: #34495e;
    color: #ecf0f1;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

aside ul {
    padding: 10px 0;
}

aside ul li {
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
}

aside ul li:hover {
  background-color: #227093;
  border-radius: 10px;
}

aside ul li.active {
  background-color: #227093;
  border-radius: 5px;
}


aside ul a li {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 16px;
}

aside ul a li i {
  margin-right: 5px;
}

.content {
    width: 100%;
    padding: 20px 40px;
}

.content h1 {
  color: #34495e
}

body .content .panel {
  width: 100%;
  margin-top: 20px;
  min-height: 80%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}