<div class="logo"><a href="/app/dashboard"><h1>Store Cash</h1></a></div>
<div class="header-items">
  <div class="header-item"></div>
  <a href="#" class="header-item right-menu">
    <img class="avatar" src="https://avatars1.githubusercontent.com/u/37316634?s=40&v=4" alt="">
    <i class="fas fa-ellipsis-v fa-lg"></i>
  </a>
</div>